# Régression linéaire

In [1]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_csv("data/merged/global_cluster.csv", sep=";")

In [3]:
df.head()

,annee,Country,Happiness Score,nativity,migration,health_expend,educ_expend,gdp,taxes,budget,milit,cluster_init,cluster3,cluster6
0,2015,Switzerland,7.587,10.50,4.74,11.5,5.3,58100.0,33.6,0.3,0.64,1,1,1
1,2015,Iceland,7.561,13.91,4.43,9.1,7.4,43600.0,45.3,0.1,0.13,4,0,4
2,2015,Denmark,7.527,10.27,2.20,10.6,8.7,44300.0,55.5,-1.4,1.37,4,0,4
3,2015,Norway,7.522,12.14,7.25,9.6,6.6,66900.0,57.5,12.5,1.40,1,1,1
4,2015,Canada,7.427,10.28,5.66,10.9,5.3,44800.0,37.6,-2.3,1.00,4,0,4

In [4]:
df30 = df.loc[df.cluster3==0]
df31 = df.loc[df.cluster3==1]
df32 = df.loc[df.cluster3==2]

Nombre de lignes par regroupement pour le trois regroupements

In [5]:
print(df30.shape[0])
print(df31.shape[0])
print(df32.shape[0])

376
67
895

In [6]:
df60 = df.loc[df.cluster6==0]
df61 = df.loc[df.cluster6==1]
df62 = df.loc[df.cluster6==2]
df63 = df.loc[df.cluster6==3]
df64 = df.loc[df.cluster6==4]
df65 = df.loc[df.cluster6==5]

Nombre de lignes par regroupement pour le six regroupements

In [7]:
print(df60.shape[0])
print(df61.shape[0])
print(df62.shape[0])
print(df63.shape[0])
print(df64.shape[0])
print(df65.shape[0])

526
53
360
23
181
195

Score (R2) de la régression linéaire tout cluster confondu.

In [8]:
reg = LinearRegression().fit(df[["nativity", "health_expend", "educ_expend", "taxes", "gdp"]], df["Happiness Score"])
r2_global = reg.score(df[["nativity", "health_expend", "educ_expend", "taxes", "gdp"]], df["Happiness Score"])
r2_global

0.6415632205808868

Score (R2) des régressions par regroupement avec trois regroupements

In [9]:
reg = LinearRegression().fit(df30[["nativity", "health_expend", "educ_expend", "taxes", "gdp"]], df30["Happiness Score"])
r2_0 = reg.score(df30[["nativity", "health_expend", "educ_expend", "taxes", "gdp"]], df30["Happiness Score"])
r2_0

0.6242734341908025

In [10]:
reg = LinearRegression().fit(df31[["nativity", "health_expend", "educ_expend", "taxes", "gdp"]], df31["Happiness Score"])
r2_1 = reg.score(df31[["nativity", "health_expend", "educ_expend", "taxes", "gdp"]], df31["Happiness Score"])
r2_1

0.8026384158194937

In [11]:
reg = LinearRegression().fit(df32[["nativity", "health_expend", "educ_expend", "taxes", "gdp"]], df32["Happiness Score"])
r2_2 = reg.score(df32[["nativity", "health_expend", "educ_expend", "taxes", "gdp"]], df32["Happiness Score"])
r2_2

0.3958058250629558

Moyenne des R2 par regroupements (k=3), normalisé pour l'ensemble.  
Le R2 global est plus élevé. (0.64 > 0.48)

In [12]:
(df30.shape[0] * r2_0 + df31.shape[0] * r2_1 + df32.shape[0] * r2_2) / (df.shape[0])

0.4803810153564972

Score (R2) des régressions par regroupement avec six regroupements

In [13]:
reg = LinearRegression().fit(df60[["nativity", "health_expend", "educ_expend", "taxes", "gdp"]], df60["Happiness Score"])
r2_0 = reg.score(df60[["nativity", "health_expend", "educ_expend", "taxes", "gdp"]], df60["Happiness Score"])
r2_0

0.3726452677637335

In [14]:
reg = LinearRegression().fit(df61[["nativity", "health_expend", "educ_expend", "taxes", "gdp"]], df61["Happiness Score"])
r2_1 = reg.score(df61[["nativity", "health_expend", "educ_expend", "taxes", "gdp"]], df61["Happiness Score"])
r2_1

0.8363710097737043

In [15]:
reg = LinearRegression().fit(df62[["nativity", "health_expend", "educ_expend", "taxes", "gdp"]], df62["Happiness Score"])
r2_2 = reg.score(df62[["nativity", "health_expend", "educ_expend", "taxes", "gdp"]], df62["Happiness Score"])
r2_2

0.17736651769656753

In [16]:
reg = LinearRegression().fit(df63[["nativity", "health_expend", "educ_expend", "taxes", "gdp"]], df63["Happiness Score"])
r2_3 = reg.score(df63[["nativity", "health_expend", "educ_expend", "taxes", "gdp"]], df63["Happiness Score"])
r2_3

0.705769651228225

In [17]:
reg = LinearRegression().fit(df64[["nativity", "health_expend", "educ_expend", "taxes", "gdp"]], df64["Happiness Score"])
r2_4 = reg.score(df64[["nativity", "health_expend", "educ_expend", "taxes", "gdp"]], df64["Happiness Score"])
r2_4

0.5920668519135371

In [18]:
reg = LinearRegression().fit(df65[["nativity", "health_expend", "educ_expend", "taxes", "gdp"]], df65["Happiness Score"])
r2_5 = reg.score(df65[["nativity", "health_expend", "educ_expend", "taxes", "gdp"]], df65["Happiness Score"])
r2_5

0.3055890903480174

Moyenne des R2 par regroupements (k=6), normalisé pour l'ensemble.  
Le R2 global est plus élevé. (0.64 > 0.36)

In [19]:
(df60.shape[0] * r2_0 + df61.shape[0] * r2_1 + df62.shape[0] * r2_2 + df63.shape[0] * r2_3 + df64.shape[0] * r2_4 + df65.shape[0] * r2_5)  / (df.shape[0])

0.3641088905268739

## Séparation des données en ensembles d'entrainement et de test

In [20]:
df_train, df_test = train_test_split(df, test_size=0.2, random_state=84)

Suite à ces résultats, nous allons utiliser le dataframe au complet et entraîner un seul modèle de régression linéaire.

## Entraînement et test du modèle

In [21]:
reg = LinearRegression().fit(df_train[["nativity", "health_expend", "educ_expend", "taxes", "gdp"]], df_train["Happiness Score"])
r2_t = reg.score(df_train[["nativity", "health_expend", "educ_expend", "taxes", "gdp"]], df_train["Happiness Score"])
print(f"R2 pour ensemble d'entrainement {r2_t}")

test_results = reg.predict(df_test[["nativity", "health_expend", "educ_expend", "taxes", "gdp"]])

r2_t = reg.score(df_test[["nativity", "health_expend", "educ_expend", "taxes", "gdp"]], df_test["Happiness Score"])
print(f'R2 pour ensemble de test {r2_t}')
df_test['predicted_score'] = test_results

R2 pour ensemble d'entrainement 0.6462801950122714
R2 pour ensemble de test 0.6197007405897785

In [22]:
df_test

,annee,Country,Happiness Score,nativity,migration,health_expend,educ_expend,gdp,taxes,budget,milit,cluster_init,cluster3,cluster6,predicted_score
647,2019,Bahrain,6.1990,13.10,11.60,4.9,2.3,49000.0,16.60,-10.1,3.600000,4,0,4,6.102281
1272,2023,Russia,5.6610,9.22,1.70,7.6,3.7,28000.0,10.83,-1.4,5.400000,5,0,5,5.917161
880,2020,Jordan,4.6334,23.00,-11.30,8.1,3.1,3291.0,23.60,-5.1,4.700000,0,2,2,4.811708
957,2021,Poland,6.1660,8.69,-0.33,6.3,4.6,32200.0,39.50,-1.7,2.200000,5,0,5,6.185825
1209,2023,Norway,7.3150,11.89,3.89,11.4,5.9,65700.0,21.09,4.4,1.740000,1,1,1,7.062323
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
385,2017,Venezuela,5.2500,18.80,-1.20,5.3,6.9,14000.0,34.40,-48.0,1.000000,2,2,2,5.459064
261,2016,Namibia,4.5740,27.90,0.00,8.9,8.3,11400.0,35.50,-5.5,4.200000,2,2,0,5.273118
485,2018,Brazil,6.4190,13.90,-0.10,8.3,5.9,15600.0,35.70,-1.1,1.320000,2,2,2,5.728380
234,2016,Bhutan,5.1960,17.50,0.00,3.6,5.9,8200.0,27.50,-3.8,2.152823,0,2,0,5.206978
276,2016,Senegal,4.2190,34.00,-1.50,4.7,5.6,2500.0,25.10,-4.8,1.890000,0,2,0,4.430199

In [23]:
# Sauvegarde du data frame des résultats de tests
df_test.to_csv("data/resultats/test_reg_lin.csv", sep=";", index=False)

### Quelque tests avec des données fictives

In [27]:
# Pour récupérer des valeurs de départ plausible
df_test.loc[df_test.annee==2023].sample(5, random_state=93)

,annee,Country,Happiness Score,nativity,migration,health_expend,educ_expend,gdp,taxes,budget,milit,cluster_init,cluster3,cluster6,predicted_score
1218,2023,Germany,6.892,9.02,1.78,12.8,4.7,53200.0,10.55,1.3,1.20,4,0,4,6.788183
1221,2023,United Kingdom,6.796,10.80,3.23,12.0,5.5,45000.0,24.73,-1.9,2.08,4,0,4,6.612917
1217,2023,United States,6.894,12.21,3.01,18.8,6.1,63700.0,9.86,-3.4,3.50,1,0,1,7.226563
1210,2023,Switzerland,7.240,10.30,4.50,11.8,5.2,71000.0,9.37,1.1,0.70,1,1,1,7.164121
1326,2023,India,4.036,16.53,0.12,3.0,4.5,6600.0,12.02,-3.5,2.50,0,2,0,5.015253

In [28]:
# Ensemble de test, cinq lignes de données fictives
df_test5 = pd.DataFrame([[13.3, 6.6, 3.3, 16.9, 14400],
                         [19.5, 6.7, 9.2, 41, 8200],                         
                         [24.2, 8.8, 10.1, 32, 9100],
                         [23, 5.2, 4.05, 13.8, 8300],
                         [7.9, 9.1, 4.1, 14.1, 42010]], 
                        columns=["nativity", "health_expend", "educ_expend", "taxes", "gdp"])
df_test5

   nativity  health_expend  educ_expend  taxes    gdp
0      13.3            6.6         3.30   16.9  14400
1      19.5            6.7         9.20   41.0   8200
2      24.2            8.8        10.10   32.0   9100
3      23.0            5.2         4.05   13.8   8300
4       7.9            9.1         4.10   14.1  42010

Voici les indices de bonheurs prédits pour les données fictive ci-dessus.

In [29]:
test5_results = reg.predict(df_test5[["nativity", "health_expend", "educ_expend", "taxes", "gdp"]])
test5_results

array([5.39162182, 5.53638813, 5.47342865, 4.85602985, 6.40364188])